*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    padding: 40px 0px;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.icon{
    display: flex;
    align-items: center;
    gap: 21px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 21px;
}
.nav_btn{
    padding: 20px 12px ;
    width: 150px ;
    height: 50px;
    color: white;
    background-color: #1E96C8;
    border: none;
}
.container{
    margin: 0 auto;
    width: 80%; 
}
.link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 0px;
}
.link_item a{
    color: #515151;
    font-weight: 600;

}
header{
    margin: 40px 0px;
}
.baner_img img{
    width: 100%;
    margin: 40px 0px;
}
.stiker_item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.stiker{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid  red;
    border: none;
    background-color: #F6F6F9;
    padding: 50px 50px;
    margin: 20px 0px;
}
.stiker_title{
    line-height: 30px;
    border-right: 1px solid #DB0000;
    padding:0px 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 0px ;
}
.col-4{
    line-height: 25px;
    width: 450px;
    text-align: center;
    height: 300px;

}
.card_header{
width: 450px;
}
.card_title{
    width:100%; 
}
.header_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #f7c974
    ;
}
.section-list{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}
small{
    color: rgb(151, 151, 151);
}
.right_title{
    border: 0.5px solid red; 
    border: none;
}
.section_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section_right{
    display: flex;
    gap: 20px;
}
.right_title{
    background-color: 
    #F6F6F9;
    width: 390px ;
    height: 540px;
    padding: 30px 30px;
    margin: 20px 0px;
}
.right-title{
line-height: 22px;
border-bottom: 2px solid #E4E4E4;
padding: 15px 0px;
}
